<div>
    <button class="btn btn-danger" (click)="onLoad()">Load</button>
</div>
<div class="page-header">
    <div class="list-group">
        <div *ngFor="let item of books; let idx=index;">
            <button type="button" class="btn btn-secondary"> #:
                <span class="badge badge-secondary" [innerText]="idx+1"></span>
            </button>
            <div>
                <h3>Book Name: {{item.bookname |uppercase}}</h3>
                <h5>Book Id: {{item.bookid }} </h5>
                <h5>Author Name: {{item.authorname|uppercase}}</h5>
                 <h5>Publication Name: {{item.publicationname}}</h5>
                 <h5>Original Price: {{item.price|currency:'INR':'symbol'}}</h5>
                 <div *ngIf="item.instock">
                    stock : available;
                 </div>
                 <h5>Discount : {{item.discount}}</h5>
                 <hr/>
        </div>
    </div>
</div>